#h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-bottom: 0em;
}

#h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: hsl(0, 27%, 26%);
    padding-top: 0.1em;
    ;
}

#header{
    background-color: hsl(0, 100%, 97%);
    height: max-content;
}

#body{
    background-color: hsl(0, 100%, 96%);
}

#copyright{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: hsl(0, 27%, 26%);
    padding-top: 0.5em;
}

footer{
    background-color: hsl(0, 100%, 95%);
    height: max-content;
    padding-bottom: 0.5em;
}